.navbar_comp {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 5px;
    width: 100%;
    background-color:aquamarine;
    color: blue;
    box-shadow: 0 4px lightseagreen;
    font-size: 18px;
    font-weight: 600;
  }
  
  .navbar_comp Link {
    color: dodgerblue; 
  }