.header_comp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color:lightskyblue;
    box-shadow: 0 4px lightseagreen;
    font-size: 20px;
  }
  
.header_comp h1 h3 div {  padding: 0 0;}

.div_wrap {
  display: flex;
  flex-direction:row;
  align-items: flex-end;
}

.fs20 {  
  font-size: 26px;
}

.fs16_ml50_mb3 {
  font-size: 16px;
  margin-left: 50px;
  margin-bottom: 3px;
}