.comp {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}

.div_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px lightseagreen;
  padding-top: 5px;
  padding-bottom: 25px;
}

.page_name_div {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: dodgerblue
}

.div1 {
  display: flex;
  width: 50%;
  height: 30px;
  align-items: center;
  font-size: 18px;
  color: gray;
}

.div2 {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}

.div3 {
  color: gray;
  margin-right: 5px;
}

.div4 {
  color: rgba(121, 18, 65, 0.877);
  font-size: 11px;
  margin-bottom: 2px;
}

textarea {
  font-size: 16px;
  border: 2px solid lightblue;
  border-bottom: 2px solid gray;
  border-radius: 3px;
  width: 50%;
  height: 150px;
  color: black;
}

textarea:focus {
  background-color: lightcyan;
}

.btn_div {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
}

button {
  width: 100%;
  background-color: rgb(89, 210, 231);
  color: rgb(40, 40, 122);
  font-size: 20px;
  border-radius: 3px;
  padding: 7px 0;
  cursor: pointer;
  text-align: center;
  border: none;
  box-shadow: 3px 3px lightseagreen;
}
  
button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.msg_div {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 30px;
  margin-top: 15px;
}

.giphy_div {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 125px;
  background-image: url("../../img/img_GIPHY_animated.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}