.comp {
  display: flex;
  flex-direction: column;
}

.div_wrap { 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px lightseagreen;
  padding: 0 50px;
}

.top_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.page_name_div {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: dodgerblue;
  padding-top: 5px;
}

.div1 {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: gray;
  margin-top: 10px;
  margin-bottom: 5px;
}
  
.two_div_wrap {
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  justify-content: space-evenly;;
  padding-bottom: 20px;
  min-width: 100%;
}

.txt_div {
  max-width: 45%;
  padding: 5px;
  background-color: whitesmoke;
  font-size: 16px;
  text-align: justify;
  border-radius: 3px;
}

.gif_div {
  display: flex;
  padding: 5px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.gif_div img {
  max-height: 100%;
}

.top_wrap .two_div_wrap div {
  min-width: 45%;
  height: 125px;
  border: 1px solid blue;
}
