.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightsteelblue;
  min-height: 2000px;
  background-image: url("./img/img_giphy_logo.png");
  background-repeat: no-repeat;
  background-position: center 15px;
  background-size: cover;
}

.submit_text_page {
    min-width: 100%; 
}

.display_gif_page {
  min-width: 100%; 
}
